.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.8); /* ensures background to cast shadow against */
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(40, 126, 143, 0.6); /* softened + visible */
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.topbar-name{
     color: #257180;
     font-size: xx-large;
  font-weight: bold;
}
.dropdown-button {
  background-color: #0c2433;
  color: lightsteelblue;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #2e4a5f;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #0c2433;
  color: white;
  min-width: 180px;
  margin-top: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 1000;
  font-family: "Segoe UI", sans-serif;
}

.dropdown-menu li {
  list-style: none;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #2e4a5f;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li:hover {
  background-color: #2e4a5f;
}
